public/pages.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Ratatui</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1">
    <link href="./css/blocks.css" type="text/css" rel="stylesheet">
    <link rel="icon" sizes="16x16 32x32 48x48 64x64" href="favicon.ico">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="favicon-152.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="favicon-144.png">
    <meta name="msapplication-square70x70logo" content="favicon-70.png">
    <meta name="msapplication-square150x150logo" content="favicon-150.png">
    <meta name="msapplication-square310x310logo" content="favicon-310.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="favicon-152.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="favicon-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="favicon-120.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="favicon-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="favicon-72.png">
    <link rel="apple-touch-icon-precomposed" href="favicon-57.png"><!--[if IE 8]><link rel="stylesheet" href="./css/blocks.ie.css"><![endif]-->
    <!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6/html5shiv.min.js"></script><![endif]-->
    <script>function loadFont(a,b,c,d){function e(){if(!window.FontFace)return!1;var a=new FontFace("t",'url("data:application/font-woff2,") format("woff2")',{}),b=a.load();try{b.then(null,function(){})}catch(c){}return"loading"===a.status}var f=navigator.userAgent,g=!window.addEventListener||f.match(/(Android (2|3|4.0|4.1|4.2|4.3))|(Opera (Mini|Mobi))/)&&!f.match(/Chrome/);if(!g){var h={};try{h=localStorage||{}}catch(i){}var j="x-font-"+a,k=j+"url",l=j+"css",m=h[k],n=h[l],o=document.createElement("style");if(o.rel="stylesheet",document.head.appendChild(o),!n||m!==b&&m!==c){var p=c&&e()?c:b,q=new XMLHttpRequest;q.open("GET",p),q.onload=function(){q.status>=200&&q.status<400&&(h[k]=p,h[l]=q.responseText,d||(o.textContent=q.responseText))},q.send()}else o.textContent=n}}</script>
    <script>loadFont('FontPack', 'css/woff.css','css/woff2.css');</script>
    <script>
      ;( function( window, document )
          {
              'use strict';
      
              var file     = './img/svghtml.html',
                  revision = 1,
                  debug = true;
      
              if( !document.createElementNS || !document.createElementNS( 'http://www.w3.org/2000/svg', 'svg' ).createSVGRect )
                  return true;
      
              var isLocalStorage = 'localStorage' in window && window[ 'localStorage' ] !== null,
                  request,
                  data,
                  insertIT = function()
                  {
                      document.body.insertAdjacentHTML( 'afterbegin', data );
                  },
                  insert = function()
                  {
                      if( document.body ) insertIT();
                      else document.addEventListener( 'DOMContentLoaded', insertIT );
                  };
      
              if( isLocalStorage && localStorage.getItem( 'inlineSVGrev' ) == revision & debug == false )
              {
                  data = localStorage.getItem( 'inlineSVGdata' );
                  if( data )
                  {
                      insert();
                      return true;
                  }
              }
      
              try
              {
                  request = new XMLHttpRequest();
                  request.open( 'GET', file, true );
                  request.onload = function()
                  {
                      if( request.status >= 200 && request.status < 400 )
                      {
                          data = request.responseText;
                          insert();
                          if( isLocalStorage )
                          {
                              localStorage.setItem( 'inlineSVGdata',  data );
                              localStorage.setItem( 'inlineSVGrev',   revision );
                          }
                      }
                  }
                  request.send();
              }
              catch( e ){}
      
          }( window, document ) );
      
    </script>
  </head>
  <body>
    <div class="headerTop">
      <div class="headerTopWrap">
        <div class="headerTopLogo"><a href="#"></a></div>
        <div class="headerTopSelect"><a href="#">Все заведения</a></div>
      </div>
    </div>
    <div class="overley">
      <div class="login">
        <div class="loginWrap">
          <div class="loginClose">
            <button class="buttonClose js-closeoverlay"></button>
          </div>
          <div class="loginHeader">Вход в личный кабинет</div>
          <div class="loginForm">
            <div class="loginFormItem">
              <label class="label">Логин&nbsp<span>*</span></label>
              <input class="input">
            </div>
            <div class="loginFormItem">
              <label class="label">Пароль&nbsp<span>*</span></label>
              <input class="input">
            </div>
            <div class="loginFormItem">
              <div class="loginFormItemColumn"><a href="#" class="js-recoveryswith">Забыли пароль?</a></div>
              <div class="loginFormItemColumn"><a href="#" class="js-registrationswith">Регистрация</a></div>
            </div>
            <div class="loginFormItem">
              <p>Поля, помеченные специальным знаком&nbsp<span>*&nbsp</span>— </br> обязательны для заполнения</p>
            </div>
            <div class="loginFormItemCenter">
              <button class="buttonYellow">
                <div class="buttonYellowText">Войти</div>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="recovery">
        <div class="recoveryWrap">
          <div class="recoveryClose">
            <button class="buttonClose js-closeoverlay"></button>
          </div>
          <div class="recoveryHeader">Забыли пароль?</div>
          <div class="recoveryForm">
            <div class="recoveryFormItem">
              <label class="label">Ваш E-mail:</label>
              <input class="input">
            </div>
            <div class="recoveryFormItem">
              <p>На вашу почту в течение нескольких минут </br>придет письмо с новым паролем</p>
            </div>
            <div class="recoveryFormItemCenter">
              <button class="buttonYellow">
                <div class="buttonYellowText">Отправить</div>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="registration">
        <div class="registrationWrap">
          <div class="registrationClose">
            <button class="buttonClose js-closeoverlay"></button>
          </div>
          <div class="registrationHeader">Регистрация</div>
          <div class="registrationForm">
            <div class="registrationFormItem">
              <div class="registrationFormItemColumn">
                <label class="label">Ваш e-mail&nbsp<span>*</span></label>
                <input class="input">
              </div>
              <div class="registrationFormItemColumn">
                <label class="label">Ваше имя&nbsp<span>*</span></label>
                <input class="input">
              </div>
            </div>
            <div class="registrationFormItem">
              <div class="registrationFormItemColumn">
                <label class="label">Пароль&nbsp<span>*</span></label>
                <input class="input">
              </div>
              <div class="registrationFormItemColumn">
                <label class="label">Подтвердите пароль&nbsp<span>*</span></label>
                <input class="input">
              </div>
            </div>
            <div class="registrationFormItem">
              <div class="registrationFormItem">
                <div class="registrationFormItemColumn">
                  <label class="label">Телефон&nbsp<span>*</span></label>
                  <input class="input js-inputphone">
                </div>
              </div>
            </div>
            <div class="registrationFormItem">
              <p>Поля, помеченные специальным знаком&nbsp<span>*&nbsp</span>— обязательны для заполнения</p>
            </div>
            <div class="registrationFormItemCenter">
              <button class="buttonYellow">
                <div class="buttonYellowText">Зарегистрироваться</div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="headerType">
      <div class="headerFilter"></div>
      <div class="header">
        <div class="headerLogo"></div>
        <div class="headerSocial">
          <div class="headerSocialVK"><a href="#"></a></div>
          <div class="headerSocialFB"><a href="#"></a></div>
          <div class="headerSocialIN"><a href="#"></a></div>
        </div>
        <div class="headerPhone">+7 (391)<span> 290-40-40</span>
          <div class="headerLogin">
            <div class="headerLoginName">Александр Старообрядцевский</div>
            <div class="headerLoginControl"><a href="#">Личный кабинет</a><a href="#" class="iconLogout">Выход</a></div>
          </div>
        </div>
        <div class="headerCart">
          <div class="headerCartIcon"></div>
          <div class="headerCartText">
            <div class="headerCartTextTop">В вашей&nbsp<a href="#">корзине</a>:</div>
            <div class="headerCartTextBottom"><b>2 товара&nbsp</b>на сумму&nbsp<b>1 500 Р</b></div>
          </div>
        </div>
      </div>
      <div class="menu">
        <div class="menuWrap">
          <div class="menuItems">
            <div class="menuItem"><a href="#">О школе “Рататуй”</a>
              <div class="menuItemDropdown">
                <div class="menuItemDropdownItem"><a href="#">Информация о школе</a></div>
                <div class="menuItemDropdownItem"><a href="#">Фотоотчеты событий</a></div>
                <div class="menuItemDropdownItem"><a href="#">Ведущие мероприятий</a></div>
              </div>
            </div>
            <div class="menuItem"><a href="#">Расписание</a>
              <div class="menuItemDropdown">
                <div class="menuItemDropdownItem"><a href="#">Информация о школе</a></div>
                <div class="menuItemDropdownItem"><a href="#">Фотоотчеты событий</a></div>
                <div class="menuItemDropdownItem"><a href="#">Ведущие мероприятий</a></div>
              </div>
            </div>
            <div class="menuItem"><a href="#">Винный клуб</a></div>
            <div class="menuItem"><a href="#">Подарочные сертификаты</a></div>
            <div class="menuItem"><a href="#">Корпоративы и праздники</a></div>
            <div class="menuItem"><a href="#">Контакты</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="contentPage patternBG">
      <div class="knifeBG"></div>
      <div class="contentPageWrap">
        <div class="breadcrumb">
          <div class="breadcrumbItem"><a href="#">Главная</a></div>
          <div class="breadcrumbItem">Личный кабинет</div>
        </div>
        <div class="page">
          <div class="pageHeader">
            <h1>Заголовок первого уровня</h1>
          </div>
          <div class="pageBody">
            <p>По многочисленным просьбам наших&nbsp<b>гостей мы рады&nbsp</b>предложить новый удобный формат мероприятий для тех, кто располагает свободным временем днем и хотел бы провести его с пользой. На дневных мастер-классах «<a href="#">Быстрый обед</a>»&nbsp мы каждый раз будем учиться готовить что-нибудь новенькое,&nbsp<strong>несложное, но очень&nbsp</strong>аппетитное, всего час – и паста с курицей и пармезаном готова!</p>
            <p><img src="img/image-1.jpg" alt="">По многочисленным просьбам наших гостей мы рады предложить новый удобный формат мероприятий для тех, кто располагает свободным временем днем и хотел бы провести его с пользой. На дневных мастер-классах «Быстрый обед» мы каждый раз будем учиться готовить что-нибудь новенькое, несложное, но очень аппетитное, всего час – и паста с курицей и пармезаном готова! В то время как, например, ваш ребенок будет постигать азы игры на фортепиано, вы сможете не просто ожидать окончания его занятия, а развивать собственный кулинарный талант в нашей Студии, и не раз потом слышать от родных и близких восторженный вопрос: «Когда ты только все успеваешь?»</p>
            <h2>Заголовок второго уровня</h2>
            <p>Во Франции все праздники начинаются или заканчиваются хорошим угощением. С давних времен, когда питались в основном кашей и хлебом с салом, по торжественным поводам готовили необычные блюда, десерты или даже составляли особое меню. И мы решили тоже предложить Вам приготовить целый обед из блюд французской кухни:
              <ul>
                <li>Салат из спаржи и маринованных артишоков</li>
                <ul>
                  <li>кулинарный курс</li>
                  <li>«Изысканная французская кухня»</li>
                </ul>
                <li>Свиное филе миньон с горчичным соусом и пикантными грушами</li>
                <li>Сливочный мусс с мандаринами</li>
              </ul>
            </p>
            <p>Во Франции все праздники начинаются или заканчиваются хорошим угощением. С давних времен, когда питались в основном кашей и хлебом с салом, по торжественным поводам готовили необычные блюда, десерты или даже составляли особое меню. И мы решили тоже предложить Вам приготовить целый обед из блюд французской кухни:
              <ol>
                <li>Салат из спаржи и маринованных артишоков</li>
                <ol>
                  <li>кулинарный курс</li>
                  <li>«Изысканная французская кухня»</li>
                </ol>
                <li>Свиное филе миньон с горчичным соусом и пикантными грушами</li>
                <li>Сливочный мусс с мандаринами</li>
              </ol>
            </p>
            <h3>Заголовок третьего уровня</h3>
            <p>Поводам готовили необычные блюда, десерты или даже составляли особое меню. И мы решили тоже предложить Вам приготовить целый обед из блюд французской кухни:
              <blockquote><span><span>По многочисленным просьбам наших гостей мы рады предложить новый удобный формат мероприятий для тех, кто располагает свободным временем днем и хотел бы провести его с пользой.</span></span></blockquote>
            </p>
            <h4>Заголовок третьего уровня</h4>
            <form>
              <label class="labelDark">Input</label>
              <input class="inputDark">
              <label class="labelDark">Input&nbsp<span>*</span></label>
              <input class="inputDark inputDarkError">
              <label class="labelDark">Select</label>
              <select class="selectric">
                <option>Пункт 1</option>
                <option>Пункт 2</option>
                <option>Пункт 3</option>
                <option>Пункт 4</option>
              </select>
              <label class="labelDark">Textarea</label>
              <textarea class="textarea"></textarea>
              <label class="labelDarkCheckbox">
                <input type="radio">Radio
              </label>
              <label class="labelDarkCheckbox">
                <input type="checkbox" class="iCheck">Checkbox
              </label>
              <label class="labelDark">Button Yellow</label>
              <button class="buttonYellow">
                <div class="buttonYellowText">Кнопка</div>
              </button>
              <label class="labelDark">Button Yellow</label>
              <button class="buttonOhra">
                <div class="buttonOhraText">Кнопка</div>
              </button>
              <table>
                <thead>
                  <tr>
                    <td>Дата</td>
                    <td>Название мероприятия</td>
                    <td>Кто ведет</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>26 сентября 2015</td>
                    <td>Обед за 40 минут. Крем суп из грибов</td>
                    <td>Баранников Евгений</td>
                  </tr>
                  <tr>
                    <td>26 сентября 2015</td>
                    <td>Обед за 40 минут. Крем суп из грибов</td>
                    <td>Баранников Евгений</td>
                  </tr>
                  <tr>
                    <td>26 сентября 2015</td>
                    <td>Обед за 40 минут. Крем суп из грибов</td>
                    <td>Баранников Евгений</td>
                  </tr>
                  <tr>
                    <td>26 сентября 2015</td>
                    <td>Обед за 40 минут. Крем суп из грибов</td>
                    <td>Баранников Евгений</td>
                  </tr>
                </tbody>
              </table>
            </form>
          </div>
        </div>
        <div class="sidebar">
          <div class="sidebarHeader">Ближайшее мероприятие</div>
          <div class="sidebarImage"><a href="#"><img src="img/ads01.jpg"></a></div>
        </div>
      </div>
    </div>
    <div class="partner">
      <div class="partnerWrap">
        <div class="partnerHeader"><span>Наши партнеры</span></div>
        <div class="partnerText">Осваивая новые проекты, мы не забываем про уже давно и успешно работающие заведения. Постоянное внимание и нововведения позволяют им оставаться актуальными и популярными среди огромного количества гостей!</div>
        <div class="partnerSliderWrap">
          <div class="partnerSlider">
            <div style="background-image: url('img/part01.png')" class="partnerSliderItem"></div>
            <div style="background-image: url('img/part02.png')" class="partnerSliderItem"></div>
            <div style="background-image: url('img/part03.png')" class="partnerSliderItem"></div>
            <div style="background-image: url('img/part04.png')" class="partnerSliderItem"></div>
            <div style="background-image: url('img/part05.png')" class="partnerSliderItem"></div>
            <div style="background-image: url('img/part06.png')" class="partnerSliderItem"></div>
            <div style="background-image: url('img/part01.png')" class="partnerSliderItem"></div>
            <div style="background-image: url('img/part02.png')" class="partnerSliderItem"></div>
            <div style="background-image: url('img/part03.png')" class="partnerSliderItem"></div>
            <div style="background-image: url('img/part04.png')" class="partnerSliderItem"></div>
            <div style="background-image: url('img/part05.png')" class="partnerSliderItem"></div>
            <div style="background-image: url('img/part06.png')" class="partnerSliderItem"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="footerWrap">
        <div class="footerMenu">
          <div class="footerMenuItems">
            <div class="footerMenuItem"><a href="#">О школе “Рататуй”</a></div>
            <div class="footerMenuItem"><a href="#">Расписание</a></div>
            <div class="footerMenuItem"><a href="#">Винный клуб</a></div>
            <div class="footerMenuItem"><a href="#">Подарочные сертификаты</a></div>
            <div class="footerMenuItem"><a href="#">Корпоративы и праздники</a></div>
            <div class="footerMenuItem"><a href="#">Контакты</a></div>
          </div>
        </div>
        <div class="footerContacts">
          <div class="footerLogo"></div>
          <div class="footerCopyright">© 2015 “Рататуй”  кулинарная студия.</br> Все права защищены, при любом копировании </br>материалов сылка на сайт источникобязательна.</div>
          <div class="footerPhone">+7 (391)<span> 290-40-40</span>
            <div class="footerPhoneLinks">Росcия, г. Красноярск, пр. Мира, д. 111</div>
          </div>
          <div class="footerSocial">
            <div class="footerSocialVK"><a href="#"></a></div>
            <div class="footerSocialFB"><a href="#"></a></div>
            <div class="footerSocialIN"><a href="#"></a></div>
          </div>
          <div class="footerStudio"><a href="#"></a></div>
        </div>
      </div>
    </div>
    <script src="./js/vendor.js"></script>
    <script src="./js/index.js"></script>
  </body>
</html>

assets/template/pages.jade
extends _layout

block content
    .overley
        include block/login
        include block/recovery
        include block/registration
    include block/headerLogin
    .contentPage.patternBG
        .knifeBG
        .contentPageWrap
            .breadcrumb
                .breadcrumbItem
                    a(href="#") Главная
                .breadcrumbItem
                    | Личный кабинет
            .page
                .pageHeader
                    h1 Заголовок первого уровня
                .pageBody
                    p
                        | По многочисленным просьбам наших&nbsp
                        b гостей мы рады&nbsp
                        | предложить новый удобный формат мероприятий для тех, кто располагает свободным временем днем и хотел бы провести его с пользой. На дневных мастер-классах «
                        a(href="#") Быстрый обед
                        | »&nbsp мы каждый раз будем учиться готовить что-нибудь новенькое,&nbsp
                        strong несложное, но очень&nbsp
                        | аппетитное, всего час – и паста с курицей и пармезаном готова!
                    p
                        img(src="img/image-1.jpg", alt="")
                        | По многочисленным просьбам наших гостей мы рады предложить новый удобный формат мероприятий для тех, кто располагает свободным временем днем и хотел бы провести его с пользой. На дневных мастер-классах «Быстрый обед» мы каждый раз будем учиться готовить что-нибудь новенькое, несложное, но очень аппетитное, всего час – и паста с курицей и пармезаном готова! В то время как, например, ваш ребенок будет постигать азы игры на фортепиано, вы сможете не просто ожидать окончания его занятия, а развивать собственный кулинарный талант в нашей Студии, и не раз потом слышать от родных и близких восторженный вопрос: «Когда ты только все успеваешь?»
                    h2 Заголовок второго уровня
                    p
                        | Во Франции все праздники начинаются или заканчиваются хорошим угощением. С давних времен, когда питались в основном кашей и хлебом с салом, по торжественным поводам готовили необычные блюда, десерты или даже составляли особое меню. И мы решили тоже предложить Вам приготовить целый обед из блюд французской кухни:
                        ul
                            li Салат из спаржи и маринованных артишоков
                            ul
                                li кулинарный курс
                                li «Изысканная французская кухня»
                            li Свиное филе миньон с горчичным соусом и пикантными грушами
                            li Сливочный мусс с мандаринами
                    p
                        | Во Франции все праздники начинаются или заканчиваются хорошим угощением. С давних времен, когда питались в основном кашей и хлебом с салом, по торжественным поводам готовили необычные блюда, десерты или даже составляли особое меню. И мы решили тоже предложить Вам приготовить целый обед из блюд французской кухни:
                        ol
                            li Салат из спаржи и маринованных артишоков
                            ol
                                li кулинарный курс
                                li «Изысканная французская кухня»
                            li Свиное филе миньон с горчичным соусом и пикантными грушами
                            li Сливочный мусс с мандаринами
                    h3 Заголовок третьего уровня
                    p
                        | Поводам готовили необычные блюда, десерты или даже составляли особое меню. И мы решили тоже предложить Вам приготовить целый обед из блюд французской кухни:
                        blockquote
                            span
                                span По многочисленным просьбам наших гостей мы рады предложить новый удобный формат мероприятий для тех, кто располагает свободным временем днем и хотел бы провести его с пользой.
                    h4 Заголовок третьего уровня
                    form
                        label.labelDark Input
                        input.inputDark
                        label.labelDark
                            | Input&nbsp
                            span *
                        input.inputDark.inputDarkError
                        label.labelDark Select
                        select.selectric
                            option Пункт 1
                            option Пункт 2
                            option Пункт 3
                            option Пункт 4
                        label.labelDark Textarea
                        textarea.textarea
                        label.labelDarkCheckbox
                            input(type="radio")
                            | Radio
                        label.labelDarkCheckbox
                            input(type="checkbox").iCheck
                            | Checkbox
                        label.labelDark Button Yellow
                        button.buttonYellow
                            .buttonYellowText Кнопка
                        label.labelDark Button Yellow
                        button.buttonOhra
                            .buttonOhraText Кнопка
                        table
                            thead
                                tr
                                    td Дата
                                    td Название мероприятия
                                    td Кто ведет
                            tbody
                                tr
                                    td 26 сентября 2015
                                    td Обед за 40 минут. Крем суп из грибов
                                    td Баранников Евгений
                                tr
                                    td 26 сентября 2015
                                    td Обед за 40 минут. Крем суп из грибов
                                    td Баранников Евгений
                                tr
                                    td 26 сентября 2015
                                    td Обед за 40 минут. Крем суп из грибов
                                    td Баранников Евгений
                                tr
                                    td 26 сентября 2015
                                    td Обед за 40 минут. Крем суп из грибов
                                    td Баранников Евгений

            .sidebar
                .sidebarHeader Ближайшее мероприятие
                .sidebarImage
                    a(href="#")
                        img(src="img/ads01.jpg")
    include block/partner
    include block/footer
